{%extends "base.html"%}
{%block title2%}{%block title%}Artefatos Scrum{%endblock%}{%endblock%}
{%block content%}


<div>
    <h1 class="t1">Artefatos Scrum</h1>
</div>
<br>
<br>
<div class="flex-container">
    <p class="texto1">
        Artefatos Scrum são os produtos e documentos que são criados durante a execução do framework Scrum. São
        utilizados para
        garantir que todos os envolvidos no projeto tenham uma compreensão clara do progresso e dos objetivos do
        projeto.
        Existem três artefatos principais do Scrum:
    </p>
    <h2>Product Backlog</h2>
    <br>
    <p class="texto1"><a href="/probacklog" button type="button" class="btn btn-danger"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            ► Veja o vídeo
        </a>Product Backlog: em termos gerais, é uma lista de tarefas, funcionalidades ou requisitos que precisam ser
        realizados em um projeto ou produto. Na gestão ágil de projetos, o backlog é uma ferramenta fundamental que
        permite ao time de desenvolvimento priorizar e gerenciar as atividades em um projeto de forma mais eficiente e
        flexível.
        O backlog pode ser dividido em duas categorias: o Product Backlog e o Sprint Backlog. O Product Backlog é a
        lista completa de tarefas, funcionalidades ou requisitos que precisam ser realizados para entregar o produto
        final. Já o Sprint Backlog é uma lista de itens do Product Backlog que foram selecionados para serem
        implementados durante um Sprint específico.
        O Product Backlog é organizado de acordo com a prioridade de cada item, geralmente definida pelo Product Owner.
        A equipe de desenvolvimento deve sempre trabalhar no topo do backlog, que contém as tarefas mais prioritárias,
        para garantir que os itens de maior valor sejam entregues primeiro. O backlog é dinâmico e pode ser atualizado a
        qualquer momento pelo Product Owner, que pode adicionar, remover ou alterar itens de acordo com as necessidades
        do projeto.
        O Sprint Backlog é uma lista mais detalhada e específica de itens selecionados do Product Backlog que serão
        trabalhados durante um Sprint específico. A equipe de desenvolvimento deve trabalhar no Sprint Backlog durante
        todo o Sprint para garantir que os itens selecionados sejam concluídos dentro do prazo.
    </p>

    <h2>Sprint Backlog</h2>
    <br>
    <p class="texto1"><a href="/sprintbacklog" button type="button" class="btn btn-danger"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            ► Veja o vídeo
        </a>Sprint Backlog: em termos gerais, é uma lista de tarefas, funcionalidades ou requisitos que precisam ser
        realizados em um projeto ou produto. Na gestão ágil de projetos, o backlog é uma ferramenta fundamental que
        permite ao time de desenvolvimento priorizar e gerenciar as atividades em um projeto de forma mais eficiente e
        flexível.
        O backlog pode ser dividido em duas categorias: o Product Backlog e o Sprint Backlog. O Product Backlog é a
        lista completa de tarefas, funcionalidades ou requisitos que precisam ser realizados para entregar o produto
        final. Já o Sprint Backlog é uma lista de itens do Product Backlog que foram selecionados para serem
        implementados durante um Sprint específico.
        O Product Backlog é organizado de acordo com a prioridade de cada item, geralmente definida pelo Product Owner.
        A equipe de desenvolvimento deve sempre trabalhar no topo do backlog, que contém as tarefas mais prioritárias,
        para garantir que os itens de maior valor sejam entregues primeiro. O backlog é dinâmico e pode ser atualizado a
        qualquer momento pelo Product Owner, que pode adicionar, remover ou alterar itens de acordo com as necessidades
        do projeto.
        O Sprint Backlog é uma lista mais detalhada e específica de itens selecionados do Product Backlog que serão
        trabalhados durante um Sprint específico. A equipe de desenvolvimento deve trabalhar no Sprint Backlog durante
        todo o Sprint para garantir que os itens selecionados sejam concluídos dentro do prazo.
    </p>
    <h2>Burndown</h2>
    <br>

    <p class="texto1"><a href="/burndown" button type="button" class="btn btn-danger"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            ► Veja o vídeo
        </a>Burndown: em termos gerais, é uma lista de tarefas, funcionalidades ou requisitos que precisam ser
        realizados em um projeto ou produto. Na gestão ágil de projetos, o backlog é uma ferramenta fundamental que
        permite ao time de desenvolvimento priorizar e gerenciar as atividades em um projeto de forma mais eficiente e
        flexível.
        O backlog pode ser dividido em duas categorias: o Product Backlog e o Sprint Backlog. O Product Backlog é a
        lista completa de tarefas, funcionalidades ou requisitos que precisam ser realizados para entregar o produto
        final. Já o Sprint Backlog é uma lista de itens do Product Backlog que foram selecionados para serem
        implementados durante um Sprint específico.
        O Product Backlog é organizado de acordo com a prioridade de cada item, geralmente definida pelo Product Owner.
        A equipe de desenvolvimento deve sempre trabalhar no topo do backlog, que contém as tarefas mais prioritárias,
        para garantir que os itens de maior valor sejam entregues primeiro. O backlog é dinâmico e pode ser atualizado a
        qualquer momento pelo Product Owner, que pode adicionar, remover ou alterar itens de acordo com as necessidades
        do projeto.
        O Sprint Backlog é uma lista mais detalhada e específica de itens selecionados do Product Backlog que serão
        trabalhados durante um Sprint específico. A equipe de desenvolvimento deve trabalhar no Sprint Backlog durante
        todo o Sprint para garantir que os itens selecionados sejam concluídos dentro do prazo.
    </p>
    <h2>Incremento Funcional</h2>
    <br>
    <p class="texto1"><a href="/incrementovideo" button type="button" class="btn btn-danger"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            ► Veja o vídeo
        </a>
        O incremento funcional é um conceito fundamental da metodologia Scrum, que se refere ao resultado concreto e
        tangível de cada iteração do processo de desenvolvimento. Em outras palavras, é o produto parcial e funcional
        que é entregue ao final de cada ciclo de trabalho, conhecido como sprint.<br>

        O incremento funcional é uma versão do produto que contém novas funcionalidades, correções de bugs e melhorias
        incrementais que são adicionadas a cada sprint. Esses incrementos são testados e validados pelo time de
        desenvolvimento e pelos stakeholders para garantir que as expectativas do cliente estejam sendo atendidas.<br>

        Com cada sprint concluído, o produto deve ser cada vez mais funcional, com novos recursos e melhorias
        incrementais adicionados a cada iteração. O objetivo é alcançar um produto final de alta qualidade e que atenda
        às necessidades do cliente, em vez de esperar até o final do projeto para entregar o produto completo. O
        incremento funcional permite que o cliente possa visualizar o produto e fornecer feedback contínuo, o que ajuda
        a orientar o desenvolvimento do produto.
    </p>
    <p class="texto1">Esses artefatos são criados em conjunto pela equipe de desenvolvimento e o Product Owner, e são
        usados para garantir a
        transparência do projeto e facilitar a comunicação entre todas as partes interessadas.
    </p>
    <h2>Definition of Ready(DoR)</h2>
    <br>
    <p class="texto1"><a href="/video_dor" button type="button" class="btn btn-danger"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            ► Veja o vídeo
        </a>
        A Definição de Pronto, ou "Definition of Ready" em inglês, é um conceito utilizado no método Scrum para garantir
        que um item do backlog do produto esteja adequadamente preparado para ser incluído em um sprint. A Definição de
        Pronto é uma lista de critérios que um item deve atender antes de ser considerado pronto para ser desenvolvido
        pela equipe Scrum.</p>
    <p class="texto1">
        A Definição de Pronto é geralmente criada pela equipe de desenvolvimento, em colaboração com o Product Owner,
        durante a fase de planejamento do projeto. Essa definição pode variar de equipe para equipe e de projeto para
        projeto, pois cada contexto tem suas particularidades.</p>
    <p class="texto1">
        Os critérios estabelecidos na Definição de Pronto devem ser claros, objetivos e mensuráveis. Eles são projetados
        para garantir que o item do backlog do produto esteja suficientemente detalhado, compreendido e estimado antes
        de ser selecionado para um sprint. Alguns exemplos comuns de critérios que podem ser incluídos na Definição de
        Pronto são:</p>
    <p class="texto1">
        1. Descrição clara: O item do backlog do produto deve ter uma descrição clara e concisa que seja compreensível
        por todos os membros da equipe.<br>

        2. Estimativa de tamanho: O item deve ser estimado em termos de tamanho ou complexidade, utilizando uma técnica
        de estimativa adequada, como pontos de história.<br>

        3. Critérios de aceitação: Deve haver critérios de aceitação definidos para o item, ou seja, condições claras
        que devem ser atendidas para que o item seja considerado concluído.<br>

        4. Dependências resolvidas: Todas as dependências externas necessárias para a conclusão do item devem ser
        resolvidas ou pelo menos conhecidas.<br>

        5. Documentação relevante: Se necessário, a documentação relevante, como especificações técnicas ou de negócios,
        deve estar disponível e atualizada.<br>

        6. Recursos disponíveis: Os recursos necessários para realizar o trabalho associado ao item devem estar
        disponíveis ou agendados para o sprint em que o item será incluído.<br>

        7. Prioridade e valor: O item deve ser priorizado e ter valor suficiente para justificar o esforço necessário
        para desenvolvê-lo.</p><br>
        <h2>Definition of Done(DoD)</h2>
        <br>
    
    <p class="texto1">
        Ao utilizar a Definição de Pronto, a equipe Scrum pode garantir que os itens selecionados para um sprint estejam
        adequadamente preparados, evitando problemas e atrasos durante o desenvolvimento. Isso promove a transparência,
        a colaboração e a entrega de valor de forma consistente a cada iteração do projeto.</p>
    <p class="texto1">
        É importante ressaltar que a Definição de Pronto não é um documento estático. Ela pode e deve evoluir ao longo
        do tempo, à medida que a equipe ganha experiência e aprende com cada sprint. A colaboração contínua entre o
        Product Owner e a equipe de desenvolvimento é essencial para manter a Definição de Pronto atualizada e adequada
        às necessidades do projeto.
    </p>

    <p class="texto1">
        A Definição de Concluído, ou "Definition of Done" em inglês, é um conceito fundamental no método Scrum que
        estabelece critérios claros para determinar quando um incremento de trabalho está realmente concluído e pronto
        para ser entregue. É uma lista de verificações que um item do backlog do produto deve atender para ser
        considerado finalizado.
        </p>

    <p class="texto1">
        A Definição de Concluído é criada pela equipe Scrum e deve ser consistente para todos os itens do backlog do
        produto. Essa definição é estabelecida durante a fase inicial do projeto ou no início da equipe Scrum, para
        garantir que todos tenham uma compreensão compartilhada do que significa "concluído".
        </p>
        
        <p class="texto1">
            Os critérios na Definição de Concluído podem variar dependendo do contexto do projeto, do produto e das
        necessidades da equipe, mas geralmente incluem os seguintes aspectos:</p>

        <p class="texto1">
            1. Funcionalidade implementada: Todas as funcionalidades previstas para o item do backlog do produto foram
        completamente implementadas de acordo com as especificações e requisitos acordados.<br>

        2. Testes executados e aprovados: O item foi testado de acordo com os critérios de aceitação e passou por testes
        rigorosos, incluindo testes de unidade, testes de integração e testes de aceitação.<br>

        3. Código revisado e limpo: O código foi revisado por pares ou através de revisões formais, seguindo as
        diretrizes de codificação da equipe. Ele também atende a padrões de qualidade e boas práticas de
        desenvolvimento.<br>

        4. Documentação atualizada: A documentação relevante, como manuais de usuário ou documentação técnica, foi
        atualizada para refletir as alterações feitas no item do backlog do produto.<br>

        5. Sem dependências pendentes: Todas as dependências externas foram atendidas e não há dependências pendentes
        que impeçam o funcionamento adequado do item.<br>

        6. Integração realizada: O item foi integrado com sucesso ao restante do sistema ou produto, sem causar
        problemas de compatibilidade ou conflitos.<br>

        7. Revisão de qualidade: O item foi revisado quanto à qualidade geral, garantindo que não haja bugs críticos ou
        problemas significativos.<br>

        8. Aceito pelo Product Owner: O Product Owner revisou o item e o considerou aceitável de acordo com os critérios
        de aceitação definidos.<br></p>

        <p class="texto1">
            A Definição de Concluído serve como uma referência para a equipe Scrum e para as partes interessadas, ajudando a
        garantir que os incrementos sejam consistentes, de alta qualidade e prontos para serem entregues ao final de
        cada sprint. Ela promove a transparência, a colaboração e a confiança entre a equipe e o Product Owner.</p>

        <p class="texto1">
            Assim como a Definição de Pronto, a Definição de Concluído não é um documento estático. Ela deve ser revisada e
        atualizada regularmente, à medida que a equipe ganha experiência, aprende com os feedbacks e busca melhorias
        contínuas. A colaboração entre a equipe de desenvolvimento, o Scrum Master e o Product Owner é essencial para
        garantir que a Definição de Concluído permaneça relevante e eficaz ao longo do tempo.
    </p>

    <div class="text-center">
        <a href="/time_scrum" class="btn btn-secondary btn-lg">Anterior</a>
        <a href="/artefatos_scrum_pt2" class="btn btn-secondary btn-lg">Próximo</a>
    </div>
</div>
{%endblock%}