{%extends "base.html"%}
{%block title%}Artefatos Scrum parte 2{%endblock%}
{%block content%}
<div>
    <h1 class="t1">Artefatos Scrum parte 2</h1>
</div>
<br>
<br>
<div class="flex-container">
    <h2>Planning Poker</h2><br><br>
    <p class="texto1"><a href="/video_planning_poker" button type="button" class="btn btn-danger"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
        ► Veja o vídeo
    </a>
        O Planning Poker é uma técnica utilizada no Scrum para estimar o esforço necessário para concluir as histórias
        de usuários durante o planejamento do projeto. É uma abordagem colaborativa que envolve a participação de toda a
        equipe Scrum, incluindo desenvolvedores, testadores, analistas de negócio e o Product Owner.</p>
    <p class="texto1">
        O objetivo do Planning Poker é obter estimativas mais precisas e consensuais, aproveitando a experiência
        coletiva da equipe para evitar subestimações ou superestimações das histórias de usuário. A técnica é baseada na
        utilização de cartas de poker com valores representando diferentes unidades de esforço, como pontos de história.
    </p>
    <p class="texto1">
        A dinâmica do Planning Poker geralmente ocorre da seguinte maneira:<br><br>

        1. O Product Owner apresenta uma história de usuário específica para a equipe. Essa história descreve um
        requisito ou funcionalidade do produto que precisa ser implementada.<br><br>

        2. A equipe discute a história e esclarece suas dúvidas para garantir uma compreensão comum do trabalho a ser
        realizado.<br><br>

        3. Cada membro da equipe recebe um conjunto de cartas de poker com os valores de estimativa, como 0, 1, 2, 3, 5,
        8, 13, 20, etc. Esses valores são escolhidos para refletir o esforço relativo necessário para concluir a
        história.<br><br>

        4. O facilitador inicia a rodada de estimativa exibindo a história de usuário e, em seguida, todos os membros da
        equipe selecionam uma carta que reflete sua estimativa para o esforço necessário para concluir a história. As
        cartas são mantidas viradas para baixo até que todos tenham feito suas escolhas.<br><br>

        5. Após todos os membros selecionarem suas cartas, as cartas são reveladas simultaneamente. Se houver uma ampla
        discrepância nas estimativas, a equipe tem a oportunidade de discutir os diferentes pontos de vista e as razões
        por trás de suas estimativas.<br><br>

        6. Uma nova rodada de estimativa é iniciada, repetindo os passos 4 e 5, até que a equipe alcance um consenso
        sobre a estimativa para a história de usuário. Isso é geralmente feito quando a maioria dos membros da equipe
        escolhem cartas próximas em valor.<br><br>

        7. Após a estimativa ser consensualmente alcançada, a equipe registra a pontuação de história resultante. Essa
        pontuação será usada para calcular a velocidade da equipe e auxiliar no planejamento futuro do projeto.</p>
    <p class="texto1">
        O Planning Poker no Scrum promove uma estimativa colaborativa, que leva em consideração diferentes perspectivas
        e experiências da equipe. Isso ajuda a evitar a influência de opiniões dominantes e a incentivar a participação
        de todos os membros. Além disso, a utilização das cartas de poker e a revelação simultânea ajudam a evitar que
        uma pessoa influencie a estimativa dos outros membros da equipe.</p>
    <p class="texto1">
        No geral, o Planning Poker é uma técnica valiosa para o Scrum, fornecendo estimativas mais precisas e promovendo
        a colaboração e o envolvimento de toda a equipe no processo de planejamento do projeto.
    </p>
    <h2>Kanban</h2><br><br>
    <p class="texto1"><a href="/video_kanban" button type="button" class="btn btn-danger"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
        ► Veja o vídeo
    </a>
        O Kanban é uma metodologia ágil que pode ser implementada dentro do framework Scrum para otimizar a gestão do
        fluxo de trabalho e melhorar a visibilidade das tarefas em um projeto. Enquanto o Scrum se concentra no
        planejamento e na entrega de incrementos de produto em sprints, o Kanban enfoca a visualização e o controle do
        fluxo de trabalho em um nível mais granular.</p>
        <p class="texto1">
            Dentro do Scrum, o Kanban é frequentemente utilizado como um quadro visual para acompanhar o progresso das
        tarefas em um sprint. Ele permite que a equipe tenha uma visão clara do trabalho em andamento, identifique
        gargalos e melhore a eficiência geral do processo.</p>
        <p class="texto1">
            Ao implementar o Kanban dentro do Scrum, a equipe normalmente utiliza um quadro dividido em colunas que
        representam as etapas do fluxo de trabalho, como "A fazer", "Em andamento" e "Concluído". Cada tarefa ou
        história de usuário é representada por um cartão, que é movido de uma coluna para outra à medida que avança no
        processo.</p>
        <p class="texto1">
            O uso do Kanban no Scrum oferece vários benefícios:<br>

        1. Visualização do fluxo de trabalho: O Kanban fornece uma representação visual clara do fluxo de trabalho da
        equipe, permitindo que todos os membros vejam em qual estágio cada tarefa se encontra. Isso facilita a
        identificação de gargalos, impedimentos ou atrasos.<br><br>

        2. Limitação do trabalho em progresso (WIP): O Kanban incentiva a equipe a definir limites para o número máximo
        de tarefas que podem estar em andamento simultaneamente em cada coluna. Isso evita sobrecarga e ajuda a manter
        um fluxo de trabalho equilibrado, garantindo que as tarefas sejam concluídas antes que novas sejam iniciadas.<br><br>

        3. Melhoria contínua: Com a visualização clara do fluxo de trabalho e a identificação de gargalos, a equipe pode
        realizar melhorias contínuas no processo. Isso inclui identificar e resolver problemas, simplificar o fluxo de
        trabalho e encontrar maneiras de aumentar a eficiência e a qualidade do trabalho realizado.<br><br>

        4. Transparência e colaboração: O Kanban promove a transparência ao permitir que todas as partes interessadas
        acompanhem o progresso do trabalho. Além disso, facilita a colaboração entre os membros da equipe, já que todos
        têm uma visão compartilhada das tarefas em andamento e podem colaborar para resolver problemas ou apoiar uns aos
        outros quando necessário.</p>
        <p class="texto1">
            Embora o Kanban seja uma metodologia autônoma, ele pode ser facilmente integrado ao Scrum, aproveitando os
        benefícios de ambas as abordagens. O uso do Kanban no Scrum ajuda a aprimorar a gestão do fluxo de trabalho,
        fornecer maior visibilidade e melhorar a colaboração, auxiliando no cumprimento dos objetivos do Scrum de forma
        mais eficiente e eficaz.
    </p>
    <div class="text-center">
        <a href="/artefatos_scrum" class="btn btn-secondary btn-lg">Anterior</a>
        <a href="/quest-artefatos" class="btn btn-secondary btn-lg">Avaliação</a>
    </div>
</div>
{%endblock%}