{%extends "base.html"%}
{%block title%}Video Planning Poker{%endblock%}
{%block content%}
<div class="flex-container">
    <div class="ytvideo2">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/I1Ocr-_x20U" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="text-center">
        <a href="/artefatos_scrum_pt2" class="btn btn-secondary btn-lg">Voltar</a>
        <a href="/video_kanban" class="btn btn-secondary btn-lg">Próximo</a>
    </div>
</div>
{%endblock%}