{%extends "base.html"%}
{%block title%}Quest Final{%endblock%}
{%block content%}
<div class="flex-container">
    <div class="questartefato">
        <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSc-5jkwHHve-y1l6O9pyw6aLtKYwr7WP43ac5NxEHN8rZJJjw/viewform?embedded=true"
        width="640" height="2054" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>
    </div>
    <div class="text-center">
        <a href="/scrumcases" class="btn btn-secondary btn-lg">Seguir</a>
    </div>
</div>
    
{%endblock%}