{%extends "base.html"%}
{%block title%}Quest Eventos{%endblock%}
{%block content%}
<div class="flex-container">
    <div class="questartefato">
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSeZ80L9M8BkXpm9k8j8C8mWmCDM_bS4VfYpi52z9Rfyi5nq7Q/viewform?embedded=true"
            width="640" height="3040" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>
    <div class="text-center">
        <a href="/quest-final" class="btn btn-secondary btn-lg">Seguir</a>
    </div>
    </div>
</div>
{%endblock%}