{%extends "base.html"%}
{%block title%}Quest Artefatos{%endblock%}
{%block content%}
<div class="flex-container">
    <div class="questartefato">
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSdrlJpW-ONZ8K_CSnusM-7RIRRMpXSvnCi5nBfZge7PLKinfQ/viewform?embedded=true"
            width="640" height="3528" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>
    </div>
    <div class="text-center">
        <a href="/eventos_scrum" class="btn btn-secondary btn-lg">Seguir</a>
    </div>
</div>
{%endblock%}