{%extends "base.html"%}
{%block title%}Cases de Sucesso{%endblock%}
{%block content%}
  <!-- card lego -->
  <div class="container cards-container flex-container-card">
    <div>
    <div class="card h-80" style="width: 16rem;">
    <img src="../static/imagens/lego.png" class="card-img-top" alt="lego_logo">
    <div class="card-body">
      <h5 class="card-title">LEGO</h5>
      <p class="card-text">A Lego é uma empresa que implementou o Scrum em sua gestão...</p>
      <a href="/scrumcases_lego" class="btn btn-secondary">Leia mais</a>
    </div>
  </div> 
</div>
<!--   fim card lego -->
  <!-- card ibm -->
  <div>
  <div class="card h-80" style="width: 16rem;">
    <img src="../static/imagens/ibm.png" class="card-img-top" alt="ibm_logo">
    <div class="card-body">
      <h5 class="card-title">IBM</h5>
      <p class="card-text">A IBM é uma empresa líder em tecnologia que adotou o Scrum...</p>
      <a href="/scrumcases_ibm" class="btn btn-secondary">Leia mais</a>
    </div>
  </div>
</div>
<!--   fim card ibm -->
  <!-- card spotify -->
  <div>
    <div class="card h-80" style="width: 16rem;">
      <img src="../static/imagens/spotify.png" class="card-img-top" alt="spotify_logo">
      <div class="card-body">
        <h5 class="card-title">Spotify</h5>
        <p class="card-text">A implementação do Scrum na Spotify é um exemplo de como...</p>
        <a href="/scrumcases_spotify" class="btn btn-secondary">Leia mais</a>
      </div>
    </div>
  </div>
<!--   fim card spotify -->
  <!-- card microsoft -->
  <div>
  <div class="card h-80" style="width: 16rem;">
    <img src="../static/imagens/microsoft.png" class="card-img-top" alt="microsoft_logo">
    <div class="card-body">
      <h5 class="card-title">Microsoft</h5>
      <p class="card-text">A Microsoft adotou o Scrum como uma abordagem de desenvolvimento...</p>
      <a href="/scrumcases_microsoft" class="btn btn-secondary">Leia mais</a>
    </div>
    </div>
  </div>
<!--   fim card microsoft -->
  <!-- card amazon -->
  <div>
    <div class="card h-80" style="width: 16rem;">
      <img src="../static/imagens/amazon.png" class="card-img-top" alt="amazon_logo">
      <div class="card-body">
        <h5 class="card-title">Amazon</h5>
        <p class="card-text">Uma das características da implementação do Scrum na Amazon é...</p>
        <a href="/scrumcases_amazon" class="btn btn-secondary">Leia mais</a>
      </div>
    </div>
  </div>
<!--   fim card amazon -->

  <!-- card google -->
<div>
  <div class="card h-80" style="width: 16rem;">
    <img src="../static/imagens/google.png" class="card-img-top" alt="google_logo">
    <div class="card-body">
      <h5 class="card-title">Google</h5>
      <p class="card-text">Uma das principais adaptações do Scrum no Google é a formação...</p>
      <a href="/scrumcases_google" class="btn btn-secondary">Leia mais</a>
    </div>
    </div>
  </div>
</div>
<!--   fim card google -->
  <div class="flex-container text-center">
    <a href="/softskills" class="btn btn-secondary btn-lg">Seguir</a>
  </div>
{%endblock%}