{%extends "base.html"%}
{%block title%}Artefatos{%endblock%}
{%block content%}

    
        <h1 class="t1">Artefatos Scrum</h1>
    
        <h2 class="subtitulo2">O que são artefatos do Scrum ágil?</h2>
    
        <p class="p2">
        Artefatos de Scrum ágil são informações que as equipes Scrum e as partes interessadas usam para detalhar o produto
        que está sendo desenvolvido, as ações para a produção dele e as ações realizadas durante o projeto. Esses artefatos
        oferecem pontos de metadados que informam sobre o desempenho de um sprint. Eles são ferramentas essenciais para
        todas as equipes Scrum, pois viabilizam os principais atributos do Scrum de transparência, inspeção e adaptação.
        </p>
    
        <h2 class="subtitulo">Exemplos de Product Backlog,<br> Sprint Backlog e Burndown Chart.</h2>

    <!--<div>
        <img class='imgartefato' src="/static/imagens/jqimg.png" alt="artefatos">
    </div>-->
    <div class="flex-container">
    <div>
        <img class="backlog" src="../static/imagens/backlogcanva.png" alt="backlogcanva">
    </div>
    <div>
        <img class="sprintbacklog" src="/static/imagens/sprintbacklogcanva.png" alt="sprintbacklogcanva">
    </div>
    <div>
        <img class="burndownchart" src="/static/imagens/burndowncanva.png" alt="burndownchartcanva">
    </div>
</div>
{%endblock%}
