{%extends "base.html"%}
{%block title%}Product Backlog{%endblock%}
{%block content%}
<div class="título">
    <h1>Aprofundando no Product Backlog</h1>
</div>
<div class="flex-container2">
    <div class="ytvideo">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/nO8_p6T6b9k" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe>
    </div>
    <div class="texto1"> <p>O Backlog do produto é uma lista de requisitos a ser atendidas no decorrer de todo o projeto aonde é definida a ordem de importancia e seus 
        topicos por toda a equipe scrum, porém apenas o PO pode acrescentar, reorganizar ou retirar tarefas dessa lista.As users stories são muito utilizadas nesse 
        artefato para auxiliar na quantificação de necessidade. É ordenada de forma decrescente, sendo o item de maior importancia para o cliente e para o desenvolvimento 
        do projeto colocado no começo da lista com uma carga de valor maior e os demais sucessivamente. É uma lista dinamica que permite mudanças de acordo com os objetivos
        e exigencias do cliente. </p> 
    </div>
    <div>
        <button class="np">
            <a href="/artefatos_scrum">Anterior</a>
        </button>
        <button class="np">
            <a href="/sprintbacklog">Próximo</a>
        </button>
    </div>
</div>
{%endblock%}