{%extends "base.html"%}
{%block title%}Sprint Backlog{%endblock%}
{%block content%}
<div class="título">
    <h1>Aprofundando na Sprint Backlog</h1>
</div>
<div class="flex-container2">
    <div class="ytvideo">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/yFQ3oofoPhU" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe>
    </div>
    <div class="texto1"> <p>São subdivisoes de cada um dos objetivos detalhados no backlog a serem apresentadas ao cliente no decorrer da evolução do projeto, portanto cada
        sprint possui o backlog da sprint bem definida no inicio de cada periodo de tempo e é o que o time de desenvolvimento usa de apoio para se basear em suas atividades
        e entregas. também sendo os unicos com autonomia para muda-las ou reorganiza-las.</p>
    </div>
    <div>
        <button class="np">
            <a href="/sprintbacklog">Anterior</a>
        </button>
        <button class="np">
            <a href="/burndown">Próximo</a>
        </button>
    </div>
</div>
{%endblock%}